{% if post.id %} {% assign title = post.title | markdownify | strip_html %} {% 
else %} {% assign title = post.title %} {% 
endif %}

<article class="entry gallery">
  <a href="{{ post.url | relative_url }}" rel="bookmark" class="gallery-box">
    <header class="entry-header">
      {% if post.image.thumbnail %}
      {% assign entry_image = post.image.thumbnail | relative_url | escape %}
      <div class="entry-image-cover">
        <span
          class="entry-image u-photo"
          style="background-image:url('{{ entry_image }}')"
        ></span>
      </div>
      {% endif %} {% if post.image.thumbnail == nil %}
      <div class="entry-image-cover">
        <span
          class="entry-image u-photo"
          style="background-image: url('../assets//images/no-image.png')"
        ></span>
      </div>
      {% endif %}
    </header>
    <div class="gallery-item">
      <h3 class="entry-title"> {{ title }} </h3>
      <footer class="entry-meta">
        <ul>
          {% if post.date %}
          <li>
            <time
              class="entry-time"
              datetime="{{ post.date | date_to_xmlschema }}"
            >
              {{ post.date | date: "%Y-%m" }}
            </time>
          </li>
          {% endif %} {% if post.read_time %}
          <li>
            <span class="icon">{% include icon-stopwatch.svg %}</span>
            {% capture read_time %}{% include read-time.html %}{% endcapture %}
            {{ read_time | strip }}
          </li>
          {% endif %}
        </ul>
      </footer>
    </div>
  </a>
</article>
