{% if post.id %} {% assign title = post.title | markdownify | strip_html %} {%
else %} {% assign title = post.title %} {% endif %}
<article class="entry">
  <header class="entry-header">
    <div class="tags">
      <span class="tag">{{post.tags}}</span>
      <span class="category"> {{post.categories}}</span>
    </div>
    <a href="{{ post.url | relative_url }}" rel="bookmark">
      <h3 class="entry-title publications">{{ title }}</h3>
    </a>
  </header>

  <div class="entry-excerpt">
    {% if post.excerpt %} {{ post.excerpt | markdownify }} {% endif %}
  </div>

  <footer class="entry-meta">
    <ul>
      {% if post.read_time %}
      <li>
        <span class="icon">{% include icon-stopwatch.svg %}</span>{% capture
        read_time %}{% include read-time.html %}{% endcapture %}{{ read_time |
        strip }}
      </li>
      {% endif %}
    </ul>
  </footer>
</article>
