<section id="intro">
  <div class="intro-back intro">
    <div class="intro-inner inner">
      <h2 class="title">
        <span>Welcome to Scalable Architecture Lab (SAL) at SKKU.</span>
        SAL is recruiting passionate undergraduate, masters, and Ph.D students.
      </h2>
      <p class="sub-title">
        If you’re interesting in researching cutting-edge computer architecture
        and want to change the world, please send your CV to dale40@gmail.com
        The lab will support a full tuition and stipends, with chances of
        attending top-tier international conferences.
      </p>
    </div>
  </div>
</section>
