<article class="timeline" style="position: relative; max-width: 980px; margin: 0 auto;">

  <!-- Count each type -->
  {% assign typeC_count = 0 %}
  {% assign typeJ_count = 0 %}
  {% assign typeP_count = 0 %}
  {% assign typeSW_count = 0 %}
  {% assign typeT_count = 0 %}
  {% for post in site.posts %}
    {% if post.pub %}
      {% if post.pub-type == 'C' %}
        {% assign typeC_count = typeC_count | plus: 1 %}
      {% elsif post.pub-type == 'J' %}
        {% assign typeJ_count = typeJ_count | plus: 1 %}
      {% elsif post.pub-type == 'P' %}
        {% assign typeP_count = typeP_count | plus: 1 %}
      {% elsif post.pub-type == 'SW' %}
        {% assign typeSW_count = typeSW_count | plus: 1 %}
      {% elsif post.pub-type == 'T' %}
        {% assign typeT_count = typeT_count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- Publication Navigation -->
  <!-- <nav class="timeline__nav"> -->
  <nav class="timeline__nav">
    <ul>
      <li><a href="#select">Select</a></li>
      <!-- List year -->
      {% assign pub_years = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
      {% for year in pub_years %}
      <li><a href="#{{ year.name }}">{{ year.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <section class="timeline__section">
    <!-- Select Publications -->
    <a class="item" id="select"></a>
    <h2 class="milestone">Select</h2>
    <hr class="milestone">
    {% assign categories = "Reliability DRAM GPU Accel AI Security Arithmetic" | split: ' ' %}
    {% for category in categories %}
    <div class="section__select">
      <h4 class="pub_category">{{ category }}</h4>
      <hr class="category">
      <ul style="list-style: none;">
      {% assign typeC_count2 = typeC_count %}
      {% assign typeJ_count2 = typeJ_count %}
      {% assign typeP_count2 = typeP_count %}
      {% assign typeSW_count2 = typeSW_count %}
      {% assign typeT_count2 = typeT_count %}
      {% for post in site.posts %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
          {% elsif post.pub-type == 'P' %}
            {% assign pid = 'P' | append: typeP_count2 %}
            {% assign typeP_count2 = typeP_count2 | minus: 1 %}
          {% elsif post.pub-type == 'SW' %}
            {% assign pid = 'SW' | append: typeSW_count2 %}
            {% assign typeSW_count2 = typeSW_count2 | minus: 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
          {% endif %}
          {% if post.select == "y" %}
            {% if post.category == category %}
        <li> <a href="#{{ pid }}" class="select"><span class="venue">{{ post.venue }}'{{ post.date | date: "%y"' }}</span> <span class="pub_title">{{ post.title }}</span></a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <hr class="milestone">
    <!-- Year-by-year Publications -->
    {% for year in pub_years %}
    <a class="item" id="{{ year.name }}"></a>
    <h2 class="milestone">{{ year.name }}</h2>
    <hr class="milestone">
    <div class="section__year">
      {% assign typeC_count2 = typeC_count %}
      {% assign typeJ_count2 = typeJ_count %}
      {% assign typeP_count2 = typeP_count %}
      {% assign typeSW_count2 = typeSW_count %}
      {% assign typeT_count2 = typeT_count %}
      {% for post in site.posts %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
          {% elsif post.pub-type == 'P' %}
            {% assign pid = 'P' | append: typeP_count2 %}
            {% assign typeP_count2 = typeP_count2 | minus: 1 %}
          {% elsif post.pub-type == 'SW' %}
            {% assign pid = 'SW' | append: typeSW_count2 %}
            {% assign typeSW_count2 = typeSW_count2 | minus: 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
          {% endif %}
          {% assign pyear = post.date | date: "%Y" %}
          {% if year.name == pyear %}
          {% if post.tier == 'T' %} <span class="tier">Top-tier</span> {% endif %}
          {% if post.tier == 'M' %} <span class="tier">Major</span> {% endif %}
          <span class="venue">{{ post.venue }}</span>
          <span class="category">{{ post.category }}</span>
          <a class="item" id="{{ pid }}"></a>
          Link: {% if post.url_paper %} <a href="{{ post.url_paper }}" target="_blank"> <span class="url">Paper</span> </a> {% endif %} 
                {% if post.url_ppt %} <a href="{{ post.url_ppt }}" target="_blank"> <span class="url">Slides</span> </a> {% endif %} 
                {% if post.url_github %} <a href="{{ post.url_github }}" target="_blank"> <span class="url">GitHub</span> </a> {% endif %} <br>
          <span class="pub_title">[{{ pid }}] <b>{{ post.title }}</b></span><br>
          <span class="pub_author">{{ post.author }}</span><br>
          <div class="pub_venue2" style="display: inline;">{{ post.venue2 }} (<b>{{ post.venue }}</b>), {{ post.venue3 }}</div><br>
          <hr class="category">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %} 
</section>

</article>
