<article class="timeline" style="position: relative; max-width: 980px; margin: 0 auto;">

  <!-- Count each type -->
  {% assign typeC_count = 0 %}
  {% assign typeJ_count = 0 %}
  {% assign typeP_count = 0 %}
  {% assign typeSW_count = 0 %}
  {% assign typeT_count = 0 %}
  {% for post in site.posts %}
    {% if post.pub %}
      {% if post.pub-type == 'C' %}
        {% assign typeC_count = typeC_count | plus: 1 %}
      {% elsif post.pub-type == 'J' %}
        {% assign typeJ_count = typeJ_count | plus: 1 %}
      {% elsif post.pub-type == 'P' %}
        {% assign typeP_count = typeP_count | plus: 1 %}
      {% elsif post.pub-type == 'SW' %}
        {% assign typeSW_count = typeSW_count | plus: 1 %}
      {% elsif post.pub-type == 'T' %}
        {% assign typeT_count = typeT_count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- Publication Navigation -->
  <!-- <nav class="timeline__nav"> -->
  <nav class="timeline__nav">
    <ul>
      <li><a href="#select">Select</a></li>
      <!-- List year -->
      {% assign pub_years = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
      {% for year in pub_years %}
      <li><a href="#{{ year.name }}">{{ year.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <section class="timeline__section">
    <!-- Select Publications -->
    <h2 class="milestone" id="select">Select</h2>
    <hr class="milestone">
    {% assign categories = "Reliability DRAM GPU Accel AI Security Arithmetic" | split: ' ' %}
    {% for category in categories %}
    <div class="section__select">
      <h4 class="pub_category">{{ category }}</h4>
      <hr class="category">
      <ul style="list-style: none;">
      {% assign typeC_count2 = typeC_count %}
      {% assign typeJ_count2 = typeJ_count %}
      {% assign typeP_count2 = typeP_count %}
      {% assign typeSW_count2 = typeSW_count %}
      {% assign typeT_count2 = typeT_count %}
      {% for post in site.posts %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
          {% elsif post.pub-type == 'P' %}
            {% assign pid = 'P' | append: typeP_count2 %}
            {% assign typeP_count2 = typeP_count2 | minus: 1 %}
          {% elsif post.pub-type == 'SW' %}
            {% assign pid = 'SW' | append: typeSW_count2 %}
            {% assign typeSW_count2 = typeSW_count2 | minus: 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
          {% endif %}
          {% if post.select == "y" %}
            {% if post.category == category %}
        <li> <a href="#{{ pid }}"><span style="color: white; background-color: #D060D0; border: 1px solid purple; border-radius: 7px; padding: 0 0; line-height: 0.1; margin-left: 5px; margin-right: 5px; margin-bottom: 0;">{{ post.venue }}'{{ post.date | date: "%y"' }}</span>{{ post.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <hr class="milestone">
    <!-- Year-by-year Publications -->
    {% for year in pub_years %}
    <h2 class="milestone" id="{{ year.name }}">{{ year.name }}</h2>
    <hr class="milestone">
    <div class="section__year">
      {% assign typeC_count2 = typeC_count %}
      {% assign typeJ_count2 = typeJ_count %}
      {% assign typeP_count2 = typeP_count %}
      {% assign typeSW_count2 = typeSW_count %}
      {% assign typeT_count2 = typeT_count %}
      {% for post in site.posts %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
          {% elsif post.pub-type == 'P' %}
            {% assign pid = 'P' | append: typeP_count2 %}
            {% assign typeP_count2 = typeP_count2 | minus: 1 %}
          {% elsif post.pub-type == 'SW' %}
            {% assign pid = 'SW' | append: typeSW_count2 %}
            {% assign typeSW_count2 = typeSW_count2 | minus: 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
          {% endif %}
          {% assign pyear = post.date | date: "%Y" %}
          {% if year.name == pyear %}
          <span style="color: white; background-color: #D060D0; border: 1px solid purple; border-radius: 7px; padding: 0 0; line-height: 0.1; margin-left: 5px; margin-right: 5px; margin-bottom: 0;">{{ post.venue }}</span>
          {% if post.tier == 'T' %} <span style="color: white; background-color: #E06060; border: 1px solid red; border-radius: 7px; padding: 0 0; line-height: 0.1; margin-left: 5px; margin-right: 5px; margin-bottom: 0;">Top-tier</span> {% endif %}
          {% if post.tier == 'M' %} <span style="color: white; background-color: #E06060; border: 1px solid red; border-radius: 7px; padding: 0 0; line-height: 0.1; margin-left: 5px; margin-right: 5px; margin-bottom: 0;">Major</span> {% endif %}
          <span style="color: white; background-color: #60E060; border: 1px solid green; border-radius: 7px; padding: 0 0; line-height: 0.1; margin-left: 5px; margin-right: 5px; margin-bottom: 0;">{{ post.category }}</span>
          Link: {% if post.url_paper %} <a href="{{ post.url_paper }}" style="color: navy;" target="_blank">[Paper]</a> {% endif %} {% if post.url_ppt %} <a href="{{ post.url_ppt }}" style="color: navy;" target="_blank">[PPT]</a> {% endif %} {% if post.url_git %} <a href="{{ post.url_git }}" style="color: navy;" target="_blank">[GitHub]</a> {% endif %} <br>
          <div class="pub_title" id="{{ pid }}">[{{ pid }}] <b>{{ post.title }}</b></div>
          {{ post.author }} <br>
          <div class="pub_venue2" style="display: inline;">{{ post.venue2 }} (<b>{{ post.venue }}</b>), {{ post.venue3 }}</div><br>
          <hr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %} 
</section>

</article>
