<!-- All -->
<article class="timeline">
  <nav class="timeline__nav" style="top: 190px; position: fixed; z-index: 99; top: 0; transition: top 0.3s ease-out;">
    <ul>
      <li class="active"><span>Select</span></li>
    </ul>
  </nav>
</article>

<div>
  <!-- Just for a Line -->
  <ul class="taxonomy-index">
  </ul>

  <!-- Count each type -->
  {% assign typeC_count = 0 %} {% 
  assign typeJ_count = 0 %} {% 
  assign typeP_count = 0 %} {%
  assign typeSW_count = 0 %} {%
  assign typeT_count = 0 %}
  {% for post in site.posts %} {% if post.pub %} {% 
    if post.pub-type == 'C' %} {% 
      assign typeC_count = typeC_count | plus: 1 %} {% 
    elsif post.pub-type == 'J' %} {% 
      assign typeJ_count = typeJ_count | plus: 1 %} {%
    elsif post.pub-type == 'P' %} {% 
      assign typeP_count = typeP_count | plus: 1 %} {%
    elsif post.pub-type == 'SW' %} {% 
      assign typeSW_count = typeSW_count | plus: 1 %} {%
    elsif post.pub-type == 'T' %} {% 
      assign typeT_count = typeT_count | plus: 1 %} {%
    endif %} {%
  endif %} {% endfor %}
  
  <section
    id="full"
    class="entries-list"
    style="display: block"
  >
    <!-- List papers -->
    {% for post in site.posts %} {% if post.pub %} {% 
      if post.pub-type == 'C' %} {% 
        assign title_modified = '[C' | append: typeC_count | append: '] ' | append: post.title %} {%
        assign typeC_count = typeC_count | minus: 1 %} {% include entry-pub2.html %} {%
      elsif post.pub-type == 'J' %} {% 
        assign title_modified = '[J' | append: typeJ_count | append: '] ' | append: post.title %} {%
        assign typeJ_count = typeJ_count | minus: 1 %} {% include entry-pub2.html %} {%
      elsif post.pub-type == 'T' %} {% 
        assign title_modified = '[T' | append: typeT_count | append: '] ' | append: post.title %} {%
        assign typeT_count = typeT_count | minus: 1 %} {% include entry-pub2.html %} {%
      endif %} {%
    endif %} {% endfor %} 
    
    <!-- List others -->
    {% for post in site.posts %} {% if post.pub %} {% 
      if post.pub-type == 'P' %} {% 
        assign title_modified = '[P' | append: typeP_count | append: '] ' | append: post.title %} {%
        assign typeP_count = typeP_count | minus: 1 %} {% include entry-pub2.html %} {%
      elsif post.pub-type == 'SW' %} {% 
        assign title_modified = '[SW' | append: typeSW_count | append: '] ' | append: post.title %} {%
        assign typeSW_count = typeSW_count | minus: 1 %} {% include entry-pub2.html %} {%
      endif %} {%
    endif %} {% endfor %} 

  </section>
</div>
<!-- All -->

