<article class="timeline" style="position: relative; max-width: 980px; margin: 0 auto;">

  <!-- Extract information from data -->
  {% assign papers_c  = site.posts | where: 'pub-type', 'C' %}
  {% assign papers_j  = site.posts | where: 'pub-type', 'J' %}
  {% assign papers_w  = site.posts | where: 'pub-type', 'W' %}
  {% assign papers_t  = site.posts | where: 'pub-type', 'T' %}
  {% assign papers_p  = site.posts | where: 'pub-type', 'P' %}
  {% assign papers_sw = site.posts | where: 'pub-type', 'SW' %}
  
  {% assign papers_c_count  = papers_c  | size %}
  {% assign papers_j_count  = papers_j  | size %}
  {% assign papers_w_count  = papers_w  | size %}
  {% assign papers_t_count  = papers_t  | size %}
  {% assign papers_p_count  = papers_p  | size %}
  {% assign papers_sw_count = papers_sw | size %}

  {% assign id  = papers_c_count %}
  {% for paper in papers_c %}
    {% assign paper.pid = 'C' | append: id %}
    {% assign id = id | minus: 1 %}
  {% endfor %}
  {% assign id  = papers_j_count %}
  {% for paper in papers_j %}
    {% assign paper.pid = 'J' | append: id %}
    {% assign id = id | minus: 1 %}
  {% endfor %}
  {% assign id  = papers_w_count %}
  {% for paper in papers_w %}
    {% assign paper.pid = 'W' | append: id %}
    {% assign id = id | minus: 1 %}
  {% endfor %}
  {% assign id  = papers_t_count %}
  {% for paper in papers_t %}
    {% assign paper.pid = 'T' | append: id %}
    {% assign id = id | minus: 1 %}
  {% endfor %}
  {% assign id  = papers_p_count %}
  {% for paper in papers_p %}
    {% assign paper.pid = 'P' | append: id %}
    {% assign id = id | minus: 1 %}
  {% endfor %}
  
  {% assign papers = papers_c | concat: papers_j | concat: papers_w | concat: papers_t %}
  {% assign papers_by_year = papers | group_by_exp: "paper", "paper.date | date: '%Y'" %}

  <!-- Publication Navigation -->
  <nav class="timeline__nav">
    <ul>
      <li><a href="#select">Select</a></li>
      <!-- List year -->
      {% for year in papers_by_year %}
      <li><a href="#{{ year.name }}">{{ year.name }}</a></li>
      {% endfor %}
      <li><a href="#patent">Patent</a></li>
    </ul>
  </nav>

  <section class="timeline__section">
    <!-- Select Publications -->
    <a class="item" id="select"></a>
    <h2 class="milestone">Select</h2>
    <hr class="milestone">
    Top-tier conference papers: ISCA x 3, MICRO x 2, HPCA x 4, ASPLOS x 1, SC x 3, DAC x 3, DATE x 2
    <hr class="category">
    {% assign categories = "Reliability DRAM GPU Accel Interconnect Security Arithmetic AI" | split: ' ' %}
    {% for category in categories %}
    <div class="section__select">
      <h4 class="pub_category">{{ category }}</h4>
      <hr class="category">
      <ul style="list-style: none;">
      {% assign typeC_count2 = papers_c_count %}
      {% assign typeJ_count2 = papers_j_count %}
      {% assign typeT_count2 = papers_t_count %}
      {% for post in site.posts %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
          {% endif %}

          {% assign post.pid = pid %}
        
          {% if post.select == "y" %}
            {% if post.category == category %}
        <li> <a href="#{{ pid }}"><span class="venue">{{ post.venue }}'{{ post.date | date: "%y"' }}</span> <span class="pub_title_select">{{ post.title }}</span></a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
    
    <hr class="milestone">
    <!-- Year-by-year Publications -->
    {% for year in papers_by_year %}
    <a class="item" id="{{ year.name }}"></a>
    <h2 class="milestone">{{ year.name }}</h2>
    <hr class="milestone">
    <div class="section__year">
      {% assign typeC_count2 = papers_c_count %}
      {% assign typeJ_count2 = papers_j_count %}
      {% assign typeT_count2 = papers_t_count %}
      {% for post in site.posts %}
        {% assign print_select = 0 %}
        {% if post.pub %}
          {% if post.pub-type == 'C' %}
            {% assign pid = 'C' | append: typeC_count2 %}
            {% assign typeC_count2 = typeC_count2 | minus: 1 %}
            {% assign print_select = 1 %}
          {% elsif post.pub-type == 'J' %}
            {% assign pid = 'J' | append: typeJ_count2 %}
            {% assign typeJ_count2 = typeJ_count2 | minus: 1 %}
            {% assign print_select = 1 %}
          {% elsif post.pub-type == 'T' %}
            {% assign pid = 'T' | append: typeT_count2 %}
            {% assign typeT_count2 = typeT_count2 | minus: 1 %}
            {% assign print_select = 1 %}
          {% endif %}
          {% assign pyear = post.date | date: "%Y" %}
          {% if year.name != pyear %}
            {% assign print_select = 0 %}
          {% endif %}
          {% if print_select == 1 %}
          {% if post.tier == 'T' %} <span class="tier">Top-tier</span> {% endif %}
          {% if post.tier == 'M' %} <span class="tier">Major</span> {% endif %}
          <span class="venue">{{ post.venue }}</span>
          <span class="category">{{ post.category }}</span>
          Link: {% if post.url_paper %} <a href="{{ post.url_paper }}" target="_blank"> <span class="url">Paper</span> </a> {% endif %} 
                {% if post.url_ppt %} <a href="{{ post.url_ppt }}" target="_blank"> <span class="url">Slides</span> </a> {% endif %} 
                {% if post.url_github %} <a href="{{ post.url_github }}" target="_blank"> <span class="url">GitHub</span> </a> {% endif %}
          <a class="item" id="{{ pid }}"></a>
          <span class="pub_title">[{{ pid }}] <b>{{ post.title }}</b></span><br>
          <span class="pub_author">{{ post.author }}</span><br>
          <div class="pub_venue2" style="display: inline;">{{ post.venue2 }} (<b>{{ post.venue }}</b>), {{ post.venue3 }}</div><br>
          <hr class="category">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

    <a class="item" id=patent></a>
    <h2 class="milestone">Patent</h2>
    <hr class="milestone">
    <div class="section__year">
      {% assign typeP_count2 = papers_p_count %}
      {% assign typeSW_count2 = papers_sw_count %}
      {% for post in site.posts %}
        {% assign print_select = 0 %}
        {% if post.pub %}
          {% if post.pub-type == 'P' %}
            {% assign pid = 'P' | append: typeP_count2 %}
            {% assign typeP_count2 = typeP_count2 | minus: 1 %}
            {% assign print_select = 1 %}
          {% elsif post.pub-type == 'SW' %}
            {% assign pid = 'SW' | append: typeSW_count2 %}
            {% assign typeSW_count2 = typeSW_count2 | minus: 1 %}
            {% assign print_select = 1 %}
          {% endif %}
          {% if print_select == 1 %}
          <span class="venue">{{ post.venue }}</span>
          <span class="category">{{ post.category }}</span>
          Link: {% if post.url_paper %} <a href="{{ post.url_paper }}" target="_blank"> <span class="url">Patent</span> </a> {% endif %} 
                {% if post.url_ppt %} <a href="{{ post.url_ppt }}" target="_blank"> <span class="url">Slides</span> </a> {% endif %} 
                {% if post.url_github %} <a href="{{ post.url_github }}" target="_blank"> <span class="url">GitHub</span> </a> {% endif %}
          <a class="item" id="{{ pid }}"></a>
          <span class="pub_title">[{{ pid }}] <b>{{ post.title }}</b></span><br>
          <span class="pub_author">{{ post.author }}</span><br>
          <div class="pub_venue2" style="display: inline;">{{ post.venue2 }} (<b>{{ post.venue }}</b>), {{ post.venue3 }}</div><br>
          <hr class="category">
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
</section>

</article>
