<!-- Category -->
<div>
  <!-- Sort Categories -->
  {% assign categories_max = 0 %} {% 
  for category in site.categories %} {% 
    if category[1].size > categories_max %} {% 
      assign categories_max = category[1].size %} {% 
    endif %} {% 
  endfor %}
  {% assign category_list = "Computer Architecture" %} {% 
  for i in (1..categories_max) reversed %} {% 
    for category in site.categories %} {% 
      if category[1].size == i and category[0] != "gallery" and category[0] != "research" and category[0] != "Computer Architecture" %} {% 
        assign category_list = category_list | append: ',' | append: category[0] %} {% 
      endif %} {% 
    endfor %} {% 
  endfor %} {% 
  assign category_list = category_list | split: "," %}


  <!-- [1] Category Tab -->
  <ul class="taxonomy-index" id="category-list" style="margin-bottom: 0;">
    {% for cat in category_list %} {% 
      for category in site.categories %} {% 
        if category[0] == cat %}
          <li>
            <a class="cat-link2 category-link" data-category="{{ category[0] | slugify }}_full">
              <strong>{{ category[0] }}</strong>
            </a>
          </li>
        {% endif %} {% 
      endfor %} {% 
    endfor %}
  </ul>


  <!-- Count each categories -->
  {% assign typeC_count = 0 %} {% 
  assign typeJ_count = 0 %} {% 
  assign typeP_count = 0 %} {%
  assign typeSW_count = 0 %} {%
  assign typeT_count = 0 %}
  {% for post in site.posts %} {% if post.pub %} {% 
    if post.pub-type == 'C' %} {% 
      assign typeC_count = typeC_count | plus: 1 %} {% 
    elsif post.pub-type == 'J' %} {% 
      assign typeJ_count = typeJ_count | plus: 1 %} {%
    elsif post.pub-type == 'P' %} {% 
      assign typeP_count = typeP_count | plus: 1 %} {%
    elsif post.pub-type == 'SW' %} {% 
      assign typeSW_count = typeSW_count | plus: 1 %} {%
    elsif post.pub-type == 'T' %} {% 
      assign typeT_count = typeT_count | plus: 1 %} {%
    endif %} {%
  endif %} {% endfor %}
 

  <!-- [2] Category Sections -->
  {% for cat in category_list %} 
    <section
      id="{{ cat | slugify | downcase }}_full"
      class="cat-section2 taxonomy-section"
      style="display: none; border-bottom: none"
    >
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% assign C_id = typeC_count %} {%
      assign J_id = typeJ_count %} {%
      assign P_id = typeP_count %} {%
      assign SW_id = typeSW_count %} {%
      assign T_id = typeT_count %}
      
      <!-- List papers -->
      {% for post in site.posts %} {% if post.pub %} {% 
        if post.pub-type == 'C' %} {% 
          assign title_modified = '[C' | append: C_id | append: '] ' | append: post.title %} {%
          assign C_id = C_id | minus: 1 %} {% 
          if post.category == cat %} {% include entry-pub2.html %} {% endif %} {%
        elsif post.pub-type == 'J' %} {% 
          assign title_modified = '[J' | append: J_id | append: '] ' | append: post.title %} {%
          assign J_id = J_id | minus: 1 %} {% 
          if post.category == cat %} {% include entry-pub2.html %} {% endif %} {%
        elsif post.pub-type == 'T' %} {% 
          assign title_modified = '[T' | append: T_id | append: '] ' | append: post.title %} {%
          assign T_id = T_id | minus: 1 %} {% 
          if post.category == cat %} {% include entry-pub2.html %} {% endif %} {%
        endif %} {%
      endif %} {% endfor %} 
      
      <!-- List others -->
      {% for post in site.posts %} {% if post.pub %} {% 
        if post.pub-type == 'P' %} {% 
          assign title_modified = '[P' | append: P_id | append: '] ' | append: post.title %} {%
          assign P_id = P_id | minus: 1 %} {% 
          if post.category == cat %} {% include entry-pub2.html %} {% endif %} {%
        elsif post.pub-type == 'SW' %} {% 
          assign title_modified = '[SW' | append: SW_id | append: '] ' | append: post.title %} {%
          assign SW_id = SW_id | minus: 1 %} {% 
          if post.category == cat %} {% include entry-pub2.html %} {% endif %} {%
        endif %} {%
      endif %} {% endfor %} 
    </div>
    </section> 
  {% endfor %}
</div>
<!-- Category -->
