/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  @include clearfix();
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &.news {
    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 0.5rem;

  span {
    font-size: 12px;

    padding: 2px 8px;
    border-radius: 50px;
  }

  .tag {
    background-color: $base0c;
  }
  .category {
    background-color: $base0b;
  }
}
.entry-title {
  @include fluid-type($min-vw, $max-vw, 18px, 24px);

  margin-bottom: 0.5rem;
  line-height: inherit;

  &.news {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      margin-right: 0.3rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: $base07;
      border-radius: 100%;
    }
  }
}

.entry-image-cover {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (max-width: $medium) {
    min-height: 150px;
  }

  .entry-image {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
}

.entry-meta {
  @include fluid-type($min-vw, $max-vw, 12px, 16px);
  // margin-bottom: 1rem;

  ul {
    margin: 0;
    @include list-unstyled();

    @include breakpoint(max-width $medium) {
      li {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    @include breakpoint($medium) {
      li {
        // padding-bottom: 0.5rem;
      }
    }
  }

  a {
    color: inherit;
  }

  .byline-item {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  .icon {
    margin-right: 0.5em;
    fill: $accent-color;
  }
}

/*
   Entry list
   ========================================================================== */

.entries-list {
  padding: 1em;
  @include breakpoint($large) {
    padding: 0em;
  }
  .entry-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; /* break long words that could overflow */
  }

  .entry-excerpt {
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;

    @include breakpoint($medium) {
      // width: span(11 of 16);
    }

    /* normalize font sizes */
    > * {
      font-size: 1em;
    }

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }

    &.news {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      padding-left: 2rem;

      &::before {
        content: "";
        margin-right: 0.3rem;
        width: 5px;
        height: 5px;
        // background-color: $base07;
        border-radius: 100%;
        border: 1px solid;
        margin-top: 10px;
      }

      > p {
        flex: 5;
        font-weight: 300;
      }
    }
  }

  .entry-content {
    @include breakpoint($medium) {
      width: span(11 of 16);
    }

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-meta {
    // @include breakpoint($medium) {
    //   float: right;
    //   width: span(5 of 16 last);
    //   padding-left: gutter(1 of 16);
    // }
  }

  > .summary {
    > p:first-child {
      font-size: 1.125em;
      line-height: 1.625;
    }
  }
}

/*
   Entries Grid Layout
   ========================================================================== */

.entries-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(calc(100% / 3 - 1rem), 1fr));
  grid-gap: 1rem;

  @media (max-width: $medium) {
    grid-template-columns: repeat(2, minmax(calc(100% / 2 - 1rem), 1fr));
  }

  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 2rem;
    border-bottom: none;

    &.gallery {
      .gallery-box {
        display: block;
        width: 100%;
        position: relative;

        .entry-image-cover {
          min-height: 280px;
          border-radius: 0;
        }

        .gallery-item {
          width: 100%;
          position: absolute;
          padding: 1em;
          background-color: rgba(0, 0, 0, 0.5);
          bottom: 0;
          left: 0;
          z-index: 10;

          .entry-excerpt {
            margin: 0;
          }
        }
      }
    }
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 14px, 16px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    > a {
      text-decoration: none;
    }
  }

  .entry-excerpt,
  .entry-content {
    // -webkit-box-ordinal-group: 4;
    // -ms-flex-order: 3;
    // order: 3;

    @include fluid-type($min-vw, $max-vw, 14px, 16px);
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1em;
    }
  }

  .entry-meta {
    // -webkit-box-ordinal-group: 3;
    // -ms-flex-order: 2;
    // order: 2;
    margin-bottom: 1em;
    font-size: 0.75em;

    ul {
      li {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}

.entry-content {
  > p:first-child {
    font-size: 1.125em;
    line-height: 1.625;
  }

  // 관련논문 css 추가
  > h2 {
    margin-top: 4em;
    margin-bottom: 0.5em;
  }

  > p {
    > a {
      text-decoration: underline;
    }
  }
}

/* Footnotes */
.footnotes {
  margin: 2rem 0;
  padding-top: 1rem;
  border-top: 1px solid $border-color;
  font-size: 80%;
}

/* Read more link */
.more-link {
  font-size: 75%;
  font-weight: bold;
  text-decoration: none;
}

// css index page

.index-wrap {
  margin-top: 2em;

  @include breakpoint($large) {
    display: flex;
    // gap: 10%;
  }
  .title {
    margin-bottom: 1.2rem;
  }

  .section-title {
    flex: 1;
  }

  .entries-list {
    flex: 5;
  }
}

.welcom-message {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 1rem;
}
