/* ==========================================================================
   header
   ========================================================================== */

#header-nav {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $base00;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: $text-color;

  @media (max-width: 830px) {
    border-bottom: 1px solid $base07;
  }
  .nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1280px) {
      position: unset;
      transform: inherit;
    }
    @media (max-width: 880px) {
      display: none;
    }

    > nav > ul {
      display: flex;
      margin: 0;
    }
  }
}

.logo {
  margin: 0;
}
