/* ==========================================================================
   Navigation
   ========================================================================== */

.menu {
  @include list-unstyled;

  a {
    color: inherit;
    text-decoration: none;
  }
  .menu-item {
    position: relative;

    a {
      padding: 20px 16px;
      display: block;
      font-weight: 300;
      font-size: 0.8rem;

      @media (max-width: 1000px) {
        padding: 10px;
      }
    }

    &:hover .sub-menu {
      display: block;
    }

    .sub-menu {
      position: absolute;
      display: none;
      padding: 0;
      left: 1rem;
      background-color: $base01;
      width: 100%;
      width: 150px;
      margin-top: 1px;

      .sub-menu-item {
        > a {
          display: block;
          padding: 0.5rem 1rem;
          font-size: 14px;
        }

        :hover {
          background-color: $base0b;
        }
      }
    }
  }
}

/*
   Skip links
   ========================================================================== */

.skip-links {
  position: absolute;
  width: 100%;

  ul {
    @include list-unstyled;
  }
}

/*
   Paginator
   ========================================================================== */

.pager {
  @include clearfix();
  margin-bottom: 2rem;

  ul {
    @include list-unstyled;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    margin: 0 auto;

    > li {
      -ms-flex: 1;
      flex: 1;
      justify-content: space-between;
      -ms-flex-pack: justify;

      &.page_number {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li + li {
      margin-left: 0.125em;
    }
  }

  a {
    display: block;
    padding: 1em;
    border-radius: $border-radius;
    // background-color: $accent-color;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      // background-color: tint($accent-color, 20%);
      color: $base0c;
      font-weight: bold;
    }
  }
}
