/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // max-width: $sidebar-width;
  background-color: $sidebar-background-color;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
  overflow: hidden;

  // @include breakpoint($large) {
  //   max-width: (1.5 * $sidebar-width);
  // }

  &.is--visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }

  li {
    // -webkit-transform: translateX(-1rem);
    // -ms-transform: translateX(-1rem);
    // transform: translateX(-1rem);
    // -webkit-transition: all 0.5s;
    // transition: all 0.5s;

    // opacity: 0;

    /* line hover effect */
    a {
      position: relative;
      color: $base06;

      &:hover {
        color: $text-color;
        transition: color 0.5s;
      }
    }
  }

  > .inner {
    position: absolute;
    right: -$sidebar-width;
    max-width: $sidebar-width;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    background-color: $sidebar-inner-background-color;
    overflow-x: hidden;
    -webkit-box-shadow: inset -1em 0 5em 0 rgba(0, 0, 0, 0.125);
    box-shadow: inset -1em 0 5em 0 rgba(0, 0, 0, 0.125);

    transition: all 0.5s;

    @include breakpoint($medium) {
      padding: 3rem;
    }

    &.is--visible {
      right: 0;
    }
  }

  .menu {
    @include fluid-type($min-vw, $max-vw, 24px, 30px);
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;

    a {
      display: block;
    }

    /* divider line */
    // &::after {
    //   position: absolute;
    //   bottom: 0;
    //   width: 1.5em;
    //   height: 1px;
    //   background-color: $text-color;
    //   content: "";
    // }

    li {
      padding: 1rem 0 0.5em;

      a {
        display: inline-block;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 8px;

        &.active {
          border-bottom: 1px solid;
        }
      }

      .sub-menu-item {
        display: none;
      }
    }
  }

  .contact-list {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    a {
      display: block;
      color: $text-color;
      text-decoration: none;
    }
  }
}

.sidebar-toggle-wrapper {
  // position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: 0;
  padding-right: 1rem;
  // background-color: $background-color;
  z-index: 10000;

  @include breakpoint($medium) {
    right: 2rem;
    padding-right: 0;
  }

  @include breakpoint($large) {
    right: 5vw;
  }

  .toggle-inner {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
}

.sidebar-toggle-label {
  margin-left: 0.5rem;
  font-weight: bold;
  color: $text-color;
}



/* ==========================================================================
   Timeline
   ========================================================================== */

.timeline__nav {
  position: fixed;
  z-index: 9999;
  transition: top 0.3s ease-out;

  ul {
     list-style: none;
     list-style-position: inside;
     margin: 0 0;

    li {
      a {
        font-size: 125%;
        &:hover {
          color: $accent-color;
          font-size: 140%;
          font-weight: bold;
          transition: color 0.5s, font-size 0.5s;
        }
      }
    }
  }
}

.timeline__section {
   margin: 0 auto;
   padding-left: 75pt;
   hr.milestone {
    height: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 4px;
    border: 0;
    border-bottom: 3px solid #bbb;
  }
  hr.category {
    height: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 4px;
    border: 0;
    border-bottom: 1px solid #bbb;
  }
  div.section__select {
    padding-left: 15px;
    line-height: 1.2;
  }
  div.section__year {
    padding-left: 15px;
    line-height: 1.4;
  }
  span.venue {
    color: white;
    background-color: #D060D0;
    border: 1px;
    border-radius: 8px;
    padding: 0 5px;
    margin: 0;
    margin-right: 5px;
  }
}
