---
layout: default
---

<!-- Top -->
<main id="top-tier" class="page-content" aria-label="Content">
  <div class="index inner">
    <div class="index-wrap">
      <header class="section-title">
        <h2 class="title">Top-tier Publications</h2>
      </header>
      <div>
        MICRO'24: CacheCraft: Enhancing GPU Performance under Memory Protection through Reconstructed Caching
      </div>
    </div>
  </div>
</main>

<center>
<h2> Top-tier Publications</h2>
<table id="tableContents">
  <tbody>
    <tr>
      <td width=80>Venue</td>
      <td with=500>Publication</td>
    </tr>
    <tr>
      <td>MICRO'24</td>
      <td>CacheCraft: Enhancing GPU Performance under Memory Protection through Reconstructed Caching</td>
    </tr>
    <tr>
      <td>ISCA'24</td>
      <td>Native DRAM Cache: Re-architecting DRAM as a Large-Scale Cache for Data Centers </td>
    </tr>
    <tr>
      <td>HPCA'24</td>
      <td>Agile-DRAM: Agile Trade-Offs in Memory Capacity, Latency, and Energy for Data Centers</td>
    </tr>
    <tr>
      <td>DATE'24</td>
      <td>SELCC: Enhancing MLC Reliability and Endurance with Single Cell Error Correction Codes</td>
    </tr>
    <tr>
      <td>SC'23</td>
      <td>Unity ECC: Unified Memory Protection Against Bit and Chip Error</td>
    </tr>
    <tr>
      <td>DATE'23</td>
      <td>UVMMU: Hardware-Offloaded Page Migration for Heterogeneous Computing</td>
    </tr>
    <tr>
      <td>HPCA'18</td>
      <td>DUO: Exposing On-chip Redundancy to Rank-level ECC for High Reliability </td>
    </tr>
    <tr>
      <td>HPCA'18</td>
      <td>ERUCA: Efficient DRAM Resource Utilization and Resource Conflict Avoidance for Memory System Parallelism</td>
    </tr>
    <tr>
      <td>ISCA'16</td>
      <td>Bit-Plane Compression: Transforming Data for Better Compression in Many-core Architectures</td>
    </tr>
    <tr>
      <td>ISCA'16</td>
      <td>All-Inclusive ECC: Thorough End-to-End Protection for Reliable Computer Memory</td>
    </tr>
    <tr>
      <td>MICRO'15</td>
      <td>CLEAN-ECC: High Reliability ECC for Adaptive Granularity Memory System</td>
    </tr>
    <tr>
      <td>SC'15</td>
      <td>Frugal ECC: Efficient and Versatile Memory Error Protection through Fine-grained Compression</td>
    </tr>
    <tr>
      <td>HPCA'15</td>
      <td>Bamboo ECC: Strong, Safe, and Flexible Codes for Reliable Computer Memory</td>
    </tr>
  </tbody>
</table>
</center>

<!-- Top -->
<div id="BackToTop" style="margin-top: -80px; padding-top: 80px"></div>

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    {% if site.posts.size > 0 %}
    <div class="index-wrap">
      <header class="section-title">
        <h2 class="title">News</h2>
        <!-- Paging -->
        <!-- <span> {% if paginator.page > 1 %} {{ 
            site.data.theme.t.page | default: 'Page' | prepend: ' ' | append: ' ' }} {{ 
            paginator.page }} {{ site.data.theme.t.of | default: 'of' }} {{ paginator.total_pages }} {% 
          endif %}
        </span> -->
      </header>

      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% include posts-news.html %}
        <!-- {% include posts-all.html %} -->
      </div>
    </div>
    
    <!-- Paging -->
    <!-- <nav class="pager">
      <ul>
        {% if paginator.previous_page %}
        <li>
          <a
            href="{{ paginator.previous_page_path | relative_url }}"
            class="previous"
            ><span class="icon icon--arrow-right">
              {% include icon-arrow-left.svg %}
            </span>
            {{ site.data.theme.t.newer | default: 'Newer' }}
          </a>
        </li>
        {% endif %} {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | relative_url }}" class="next">
            {{ site.data.theme.t.older | default: 'Older' }}
            <span class="icon icon--arrow-right">
              {% include icon-arrow-right.svg %}
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav> -->
    {% endif %}
    
    <a href="#BackToTop" class="back-to-top">
      {{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}&uarr;
    </a>

    <h5 class="welcom-message">
      성균관대학교 확장 가능 컴퓨터 구조 연구실에 오신 것을 환영합니다.
    </h5>
  </div>
</main>

<script src="../assets/javascripts/load.js"></script>
