---
layout: default
---
<!-- Top -->
<div id="BackToTop" style="margin-top: -80px; padding-top: 80px"></div>

<!-- Title1 -->
<main id="main" class="page-content" aria-label="Content">
  <!-- Navigation -->
  <div class="inner">
    <div class="entry-content">{% include posts-pub-navigate.html %}</div>
  </div>
  
  <!-- List1 -->
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">{% include posts-pub-select.html %}</div>
    </article>
  </div>
  <br>

  <!-- Title2 -->
  {% assign page-title_modified = page.title2 %}
  <div class="inner">
    <div class="intro-text">
      <h1 id="page-title2" class="intro-title"> {{ page-title_modified }} </h1>
    </div>
  </div>
  <br>
  <!-- List2 -->
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">{% include posts-pub-full.html %}</div>
    </article>
  </div>
  
  <!-- Back to Top -->
  <div class="inner">
    <a href="#BackToTop" class="back-to-top">
      {{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}&uarr;
    </a>
  </div>
</main>

<script src="/assets/javascripts/tab_two.js"></script>
