---
layout: default
---
<!-- Top -->
<div id="BackToTop" style="margin-top: -80px; padding-top: 80px"></div>

<!-- Title1 -->
<main id="main" class="page-content" aria-label="Content">
  <!-- Navigation -->
  <div class="inner">
    <div class="entry-content">{% include posts-pub-navigate.html %}</div>
  </div>
  
  <!-- Back to Top -->
  <div class="inner">
    <a href="#BackToTop" class="back-to-top">
      {{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}&uarr;
    </a>
  </div>
</main>

<script src="/assets/javascripts/tab_two.js"></script>
