---
layout: page
---

<!-- All -->
<div>
  <ul class="taxonomy-index">
  </ul>

  <section
    id="full"
    class="taxonomy-section entries-list"
    style="display: block"
  >
    {% for post in site.posts %} {% if post.pub %} {% 
      include entry-pub2.html %} {% assign post_count = post_count | plus: 1 %} {% 
    endif %} {% endfor %} 
    {% if post_count == 0 %}
    <p class="center">게시물이 없습니다.</p>
    {% endif %}

    <a href="#page-title" class="back-to-top">
      {{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}
      &uarr;
    </a>
  </section>
</div>
<!-- All -->

<script src="/assets/javascripts/tab.js"></script>
