---
layout: page
---

<!-- All -->
<div>
  <ul class="taxonomy-index">
  </ul>

  {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  <section
    id="full"
    class="taxonomy-section entries-list"
    style="display: block"
  >
    {% for year in postsInYear %} {% assign post_count = 0 %}
    {% for post in year.items %} {% if post.pub %} {%
      assign post_count = post_count | plus: 1 %} {% 
    endif %} {% endfor %} 
    {% if post_count != 0 %}
    <h2>{{ year.name }}</h2>
      {% for post in year.items %} {% if post.pub %} {% 
        include entry-pub2.html %} {% 
      endif %} {% endfor %} 
    <br>
    {% endif %}
    {% endfor %}

    <a href="#page-title" class="back-to-top">
      {{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}
      &uarr;
    </a>
  </section>
</div>
<!-- All -->

<script src="/assets/javascripts/tab.js"></script>
